{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class="container-fluid mt-3">
            <div class="row mt-2 pt-2 pb-2 border rounded">
                <div class="col-md-3 align-self-center">
                    <img src="{% static 'auctions/ecommerce.png' %}" height="150px">
                </div>
                <div class="col-md align-self-center">
                    <div class="listingTitle">{{ listing.title }}</div>
                    <div class="listingPrice">Price: ${{ listing.price }}</div>
                    <div class="listingDate">Created {{ listing.creation_date|date:"D d M Y" }} {{ listing.creation_date|time:"H:i" }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}